@charset "utf-8";
/* CSS Document @zhxming */


#main-page{
    position: relative; overflow: hidden;
    min-width: 1240px;
}
#main-page-head, #main-page-foot{
    position: fixed; left:0; z-index:5000;
    width:100%;
}
#main-page-head{
    top:0;
    height:46px;
    background-color:#2f363c;
    color:#fff;
}
#main-page-body{
    position:relative; overflow:hidden;
    padding-top:46px; padding-bottom: 0px; /*min-height: 1000px;*/
    background-color:#000;
}
#main-page-body.bg-161014{
    background: url(../images/bg-01.png) 0 0;
}
#main-page-body-left{
    position: absolute;top:0; left:0; z-index:2000;
    float: left;
    width:200px; height:100%;
    background-color:#01446c;
    color: #fff; 
}
#main-page-body-content{
    position: relative; z-index:1000; overflow: hidden;
    height:100%; margin-left: 200px;
    background-color:#fff;
}
#main-page-body.bg-161014 #main-page-body-content{
    background-color: transparent;
}
#main-page-foot{
    bottom:0;
    height: 30px; line-height: 30px;
    background-color:#2f363c;
    color:#ccc;
}
.sub-page{
    position: relative; overflow: hidden;
}
.sub-page-161014{
    background: url(../images/bg-01.png) 0 0;
}

#system-name{
    position: absolute; top:7px; left: 20px;
    width:300px; height: 32px; overflow: hidden;
    background: transparent url(../images/logo-system-x64-fff.png) 0 0 no-repeat; background-size: contain;
}
#main-page-head-btn-list{
    position: absolute; top:0; right: 0px;
    max-width: 700px; height: 46px; overflow: hidden;
}
#main-page-head-btn-list>li{
    float:left;
    height: 46px; line-height: 46px; margin-left:1px;
}
#main-page-head-btn-list>li.with-separator{
    border-left:1px solid #666;
}
#main-page-head-btn-list>li>a,
#main-page-head-btn-list>li>span{
    display: block;
    height:46px; line-height: 46px; padding-left:15px; padding-right:15px;
    color: #fff; text-decoration: none;
}
#main-page-head-btn-list>li>a:hover{background-color:#c79649;}
#main-page-head-btn-list>li.with-separator>a:hover{border-left-color:#c79649;}
#main-page-head-btn-list>li.active>a{background-color:#c79649;}


/*主菜单*/
#main-menu{
    width:100%; margin-top: 86px; margin-bottom: 30px;
}
#main-menu a{
    color: #fff;
    text-decoration:none;
}
#main-menu>li{
    width:auto; height:auto;
}
#main-menu>li:hover{
    background-color: #2f363c;
}
#main-menu>li>.level-1{
    display:block;
    padding:10px 15px;
    font-size: 16px;
}
#main-menu>li.current{
    background-color: #c79649;
}
#main-menu>li.active{
    background-color: #2f363c;
}
#main-menu .sub-menu{
    display:none;
    height:auto; /*padding:10px 10px 10px 18px;*/ padding: 10px 0 10px 0;
    background-color: #343f49;
}
#main-menu .sub-menu>li{
    padding:0 10px 0 18px;
}
#main-menu>li.current .sub-menu{
    background-color: #d2a257;
}
#main-menu .sub-menu>li>.level-2{
    display:block;
    padding:6px 12px;
    background: url(../images/icon-arrow-right-4x6-fff.png) 0 14px no-repeat;
    font-size: 14px;
    -webkit-transition: background-position .3s ease-out;
       -moz-transition: background-position .3s ease-out;
            transition: background-position .3s ease-out;
}
#main-menu .sub-menu>li.current{
    background-color: #b9883a;
}
#main-menu .sub-menu>li.current>.level-2{
    background-position: 100% 14px;
}
#main-menu-slide-handle{
    position: fixed; top:46px; left: 0; z-index:2000;
    width:200px; height: 40px;
    background-color:#003c5f;
    border-bottom:1px solid transparent;
}
#main-menu-slide-handle>a{
    position: absolute; top:0; left:0; z-index:2001;
    width:40px; height: 40px;
    background-color:#003c5f;
    background-position: 4px 4px;
}



/*san-grid*/
.san-row,
.san-row:before, .san-row:after,
.san-col-1, .san-col-2, .san-col-3, .san-col-4, .san-col-5, .san-col-6, .san-col-7, .san-col-8, .san-col-9, .san-col-10, .san-col-11, .san-col-12,
.san-col-1:before, .san-col-2:before, .san-col-3:before, .san-col-4:before, .san-col-5:before, .san-col-6:before, .san-col-7:before, .san-col-8:before, .san-col-9:before, .san-col-10:before, .san-col-11:before, .san-col-12:before,
.san-col-1:after, .san-col-2:after, .san-col-3:after, .san-col-4:after, .san-col-5:after, .san-col-6:after, .san-col-7:after, .san-col-8:after, .san-col-9:after, .san-col-10:after, .san-col-11:after, .san-col-12:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.san-row{
    margin-right: -10px; margin-left: -10px; 
    *zoom:1;
}
.san-row:before, .san-row:after{
    display: table; content: "";
    border-collapse:collapse; border-spacing:0;
}
.san-row:after{clear: both;}
.san-col-1, .san-col-2, .san-col-3, .san-col-4, .san-col-5, .san-col-6, .san-col-7, .san-col-8, .san-col-9, .san-col-10, .san-col-11, .san-col-12{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px; padding-left: 10px;
}
.san-col-12{width: 100%;}
.san-col-11{width: 91.66666667%;}
.san-col-10{width: 83.33333333%;}
.san-col-9 {width: 75%;}
.san-col-8 {width: 66.66666667%;}
.san-col-7 {width: 58.33333333%;}
.san-col-6 {width: 50%;}
.san-col-5 {width: 41.66666667%;}
.san-col-4 {width: 33.33333333%;}
.san-col-3 {width: 25%;}
.san-col-2 {width: 16.66666667%;}
.san-col-1 {width: 8.33333333%;}


.mw-70{min-width: 70px;}
.w800{width:800px;}


/*section*/
.section-a{
    position: relative; overflow: hidden;
    margin-bottom: 20px;
}
.section-a-head{
    padding:0 20px;
    background-color:#eee;
    border-bottom:1px solid #e0e0e0;
}
.section-a-head-fixed{
    height:40px; 
    overflow: hidden;
}
.section-a-title{
    margin: 0; padding:10px 0;
    font-weight: normal; color: #333;
}
.section-a-body{
    padding:20px 20px;
}

.section-b{
    margin-bottom: 20px;
}
.section-b-body{
    padding:15px 15px;
    background-color:#fcfcfc;
    border:1px solid #e0e0e0;
}
.section-b-161011{
    overflow: hidden;
    padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.section-b-161011:before, .section-b-161011:after{
    display: table; content: "";
    border-collapse:collapse; border-spacing:0;
}
.section-b-161011:after{clear: both;}
.section-b-161011-left, .section-b-161011-right{
    float: left;
    position: relative;
    margin-bottom:-1000px; padding-bottom: 1000px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.section-b-161011-left{
    width:80%;
}
.section-b-161011-right{
    width:20%;
    background-color:#f9f9f9;
    border-left:1px solid #e0e0e0;
}
.section-b-161011-left>.section-b-161011-inner, .section-b-161011-right>.section-b-161011-inner{
    padding:15px 15px;
}

.section-f{
    margin-left: auto; margin-right: auto; margin-bottom: 20px;
}
.section-f-fixed-800{width:800px;}
.section-f-head{
    position: relative;
    margin:0; padding:20px 30px;
    background-color: #fcfcfc;
    border-width: 1px 1px 2px 1px; border-style: solid; border-color: #e0e0e0 #e0e0e0 #00649f;
    color:#00649f;
}
.section-f-161012 .section-f-head{
    background-color: #004c79; 
    border-width: 1px; border-color:#004c79;
    color: #fff;
}
.section-f-body{
    padding:30px 30px;
    background-color:#fff;
    border:1px solid #e0e0e0;
}
.section-f-head+.section-f-body{
    border-top-color:#fff;
}
.section-f-row:not(:last-child){
    margin-bottom: 15px;
}
.section-f-foot{
    position: relative;
    padding:20px 30px;
    background-color: #fcfcfc;
    border-width:1px; border-style:solid; border-color: #fcfcfc #e0e0e0 #e0e0e0;
}
.section-f-size-s .section-f-head, .section-f-head-s{
    padding:15px 10px;
}
.section-f-size-s .section-f-body, .section-f-body-s{
    padding:15px 10px;
}
.section-f-size-s .section-f-foot, .section-f-foot-s{
    padding:15px 10px;
}
.section-f-size-l .section-f-head, .section-f-head-l{
    padding:40px 30px;
}
.section-f-size-l .section-f-body, .section-f-body-l{
    padding:40px 30px;
}
.section-f-size-l .section-f-foot, .section-f-foot-l{
    padding:40px 30px;
}

/*section-login*/
.section-login{
    position: relative; z-index: 1000;
    opacity: 0;
    width:360px; margin: 0 auto;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
    -webkit-transition: opacity .8s ease-out;
       -moz-transition: opacity .8s ease-out;
        -ms-transition: opacity .8s ease-out;
            transition: opacity .8s ease-out;
}
.section-login-show{
    opacity: 1;
}
.section-login-head{
    padding:15px 30px;
    border-bottom: 3px solid #00649f;
    border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;
}
.section-login-head img{
    display: block;
}
.section-login-body{
    padding: 40px 30px 20px;
    background: transparent url(../images/bg-02.png) 32px 22px no-repeat;
    background-size: auto 20px;
}
.section-login-foot{
    padding:15px 30px;
    border-top:1px solid #ccc;
    border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}
.section-login-input{
    position: relative; z-index: 1;
    height:36px; margin-top:20px; margin-bottom: 20px; padding:2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.section-login .san-row .section-login-input{margin-top:0; margin-bottom:0;}
.section-login-input input[type="text"], .section-login-input input[type="password"]{
    width:100%; height:32px; padding:0 5px;
    line-height: 32px;
    border:0; outline: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.section-login .section-login-input label{
    position: absolute;left: 0; right: 0; top: 0; bottom: 0; z-index: -1;
    display:block; margin: 0;
    background-color: #fff; background-repeat: no-repeat;
    border:1px solid #ccc;
    border-radius: 3px;
    cursor: default;
}
.section-login .section-login-input input[type="text"]:focus ~ label, 
.section-login .section-login-input input[type="password"]:focus ~ label{
    border-color: #6b9cde;
    -webkit-box-shadow: 0 0 3px 0 #95b8e7;
       -moz-box-shadow: 0 0 3px 0 #95b8e7;
            box-shadow: 0 0 3px 0 #95b8e7;
}
.section-login-input-account,
.section-login-input-password{
    padding-left:40px; 
}
.section-login .section-login-input-account label{
    background-image:url(../images/icon-user-40x40-c79649.png);
    background-position: 10px 8px; background-size: 20px;
}
.section-login .section-login-input-password label{
    background-image:url(../images/icon-lock-40x40-c79649.png);
    background-position: 10px 8px; background-size: 20px;
}
.section-login-input-code-img{
    width:100%; overflow: hidden;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    text-align: center;
}
.section-login-input-code-img img{
    width:auto; height:36px;
}
.section-login label{
    position: relative; overflow: hidden;
    display: inline-block; margin-left: 5px;
    vertical-align: top;
    cursor: pointer; 
    font-weight: normal;
    outline: 0;
}
.section-login input[type="checkbox"], .section-login input[type="radio"]{
    margin-top:4px;
}
.section-login-btn{
    display: inline-block; min-width: 80px;
    overflow: hidden;
    margin: 0; padding: 5px 20px;
    background: #fafafa; background-repeat: repeat-x;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background:    -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background:      -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background:         linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-align: center; vertical-align: middle;
    text-decoration: none;
    color: #444;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.section-login-btn:hover {
    background: #eaf2ff;
    color: #000000;
    border: 1px solid #b7d2ff;
}

.section-a-head .h1, .section-a-head .h2, .section-a-head .h3, .section-a-head .h4, .section-a-head .h5, .section-a-head .h6, 
.section-b-head .h1, .section-b-head .h2, .section-b-head .h3, .section-b-head .h4, .section-b-head .h5, .section-b-head .h6, 
.section-f-head .h1, .section-f-head .h2, .section-f-head .h3, .section-f-head .h4, .section-f-head .h5, .section-f-head .h6,
.section-login-head .h1, .section-login-head .h2, .section-login-head .h3, .section-login-head .h4, .section-login-head .h5, .section-login-head .h6{
    margin:0;
    font-weight:normal;
}


.san-placeholder{
    position: relative; overflow: hidden;
}
.san-placeholder-text{
    display: none;
    position: absolute; left: 8px; right: auto; top: 0; bottom: 0;
    max-width:100px; overflow: hidden;
    color:#999;
}
.san-placeholder-text-active{
    display:block;
}
.section-login-input .san-placeholder-text{
    max-width: 250px; height:36px; line-height: 36px;
}
.section-login-input-account .san-placeholder-text,
.section-login-input-password .san-placeholder-text{
    left:46px;
}
.san-placeholder input[type="text"]::-ms-clear,
.san-placeholder input[type="password"]::-ms-reveal{
    display: none;
}


/*headline*/
.headline-a{
    margin:10px 0 5px 0;
    font-weight: normal; font-size: 14px;
}
.headline-a-text{
    display: inline-block;
    padding:0;
    color:#004c79;
}


/*form element*/
.san-input-text{
    display: block;
    position: relative;
    width:100%; height: 24px; padding-left: 2px; padding-right: 2px;
    background-color: #fff; background-image: none;
    border: 1px solid #95b8e7;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    font-size:12px;
}
textarea.san-input-text{
    height: auto;
    resize: none;
}
select.san-input-text{
    padding-right: 0;
}
.san-input-text:focus{
    border-color: #6b9cde;
    -webkit-box-shadow: 0 0 3px 0 #95b8e7;
       -moz-box-shadow: 0 0 3px 0 #95b8e7;
            box-shadow: 0 0 3px 0 #95b8e7;
    outline: 0;
}
.san-input-text[disabled], .san-input-text.disabled,
.san-input-text[readonly], .san-input-text.readonly{
    /*background-color: #f7f7f7;
    opacity: 1;*/
}
.san-input-text[disabled], .san-input-text.disabled{
    opacity: 0.6;
    filter: alpha(opacity=60);
    /*cursor: not-allowed;*/
}
.san-input-text[disabled]:focus, .san-input-text.disabled:focus,
.san-input-text[readonly]:focus, .san-input-text.readonly:focus{
    /*border-color: #ccc;*/
}
.san-input-text::-ms-clear, .san-input-text::-ms-reveal{
    display: none;
}
.san-input-text::-moz-placeholder{
    opacity: 1;
}
.san-input-text:-ms-input-placeholder, 
.san-input-text::-webkit-input-placeholder, 
.san-input-text::-moz-placeholder{
    color: #999;
}
.san-input-text-inline{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


.table-a4{
    font-size:10.5pt;
}
.table-a4-head{
    position: relative;
}
.table-a4-head .san-row>div{min-height:20px;}
.table-a4-body{
    position: relative;
}
.table-a4-body table{
    width:100%;
    border:1px solid #333;
}
.table-a4-body table+table{
    margin-top: -1px;
}
.table-a4-body table tbody th, .table-a4-body table tbody td{
    height:30px; padding:8px 8px;
    border:1px solid #333;
    text-align: left;
    font-weight: normal;
    word-wrap:break-word; white-space:normal
}
.table-a4-body table tbody th{
    text-align: center;
}
.table-a4-body table tbody td{
    text-align: left;
}
.table-a4-foot{
    position: relative;
}
.table-a4-title{
    margin-bottom: 10px;
    text-align: center;
    font-size: 22pt;
}
.table-a4-input{
    width:100%; height: 24px;
    border:0; outline: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/*san-icon*/
.san-icon, .san-icon-32, .san-icon-48{
    display: inline-block; 
    white-space:nowrap;
    color: transparent; text-decoration: none !important;
}
.san-icon:before, .san-icon-32:before, .san-icon-48:before{
    content: '\3000'; 
    text-decoration: none !important;
}
.san-icon{
    width:20px; height:64px; line-height: 20px;
    background-repeat: no-repeat; background-position: 0 12px;
}
.san-icon-close{background-image: url(../images/icon-close-20x20-fff.png);}
.san-icon-context{background-image: url(../images/icon-context-20x20-fff.png);}
.san-icon-pin{background-image: url(../images/icon-pin-20x20-fff.png);}
.san-icon-refresh-grey{background-image: url(../images/icon-refresh-20x20-666.png);}

.san-icon-32{
    width:32px; height:32px; line-height: 32px;
    background-repeat: no-repeat; background-position: 0 0;
}
.san-icon-32-context{background-image: url(../images/icon-context-32x32-fff.png);}
.san-icon-32-pin{background-image: url(../images/icon-pin-32x32-fff.png);}

.san-icon-48{
    width:48px; height:48px; line-height: 48px;
    background-repeat: no-repeat; background-position: 0 0;
}
.san-icon-48-attention{background-image: url(../images/icon-02-attention-64x64-fff.png);background-size: contain;}
.san-icon-48-check{background-image: url(../images/icon-02-check-64x64-fff.png);background-size: contain;}
.san-icon-48-error{background-image: url(../images/icon-02-error-64x64-fff.png);background-size: contain;}


/*easyui*/
.z-easyui-bg-primary.l-btn{
    background: #1180c2;
    background: -webkit-linear-gradient(top,#1180c2 0,#00649f 100%);
    background:    -moz-linear-gradient(top,#1180c2 0,#00649f 100%);
    background:      -o-linear-gradient(top,#1180c2 0,#00649f 100%);
    background:         linear-gradient(to bottom,#1180c2 0,#00649f 100%);
    filter: none;
    border-color:#00649f;
    color:#fff;
}
.z-easyui-bg-primary.l-btn:hover{
    background: #00649f;
    border-color:#00649f;
    color:#fff;
}
.z-easyui-bg-error.l-btn{
    background: #f28582;
    background: -webkit-linear-gradient(top,#f28582 0,#d9534f 100%);
    background:    -moz-linear-gradient(top,#f28582 0,#d9534f 100%);
    background:      -o-linear-gradient(top,#f28582 0,#d9534f 100%);
    background:         linear-gradient(to bottom,#f28582 0,#d9534f 100%);
    filter: none;
    border-color:#d9534f;
    color:#fff;
}
.z-easyui-bg-error.l-btn:hover{
    background: #d9534f;
    border-color:#d9534f;
    color:#fff;
}


#section-welcome{
    position: absolute; top:0; left: 0;
    width:100%; height: 200px;
}
#welcome-text{
    position: absolute; top:0; left:0;
    width:547px; height: 52px; margin-bottom: 15px;
    opacity: 0;
    overflow: hidden;
    background: transparent url(../images/font-welcome.png) 0 52px no-repeat;
    -webkit-transition: opacity .6s ease-out .5s, background-position .3s ease-out .4s;
       -moz-transition: opacity .6s ease-out .5s, background-position .3s ease-out .4s;
            transition: opacity .6s ease-out .5s, background-position .3s ease-out .4s;
}
#welcome-text.show{
    opacity: 1;
    background-position: 0 0;
}
#welcome-bar{
    position: absolute; top:40px; right: -100%;
    width:100%; height: 160px;
    overflow: hidden;
    background: transparent url(../images/bg-161103.png) 0 0;
}
#welcome-system-name{
    position: absolute; top:54px; left: 0;
    width:547px; height: 52px;
    opacity: 0;
    background: transparent url(../images/logo-system-beifen.png) 0 52px no-repeat;
    background-size:contain;
    -webkit-transition: opacity .6s ease-out, background-position .3s ease-out;
       -moz-transition: opacity .6s ease-out, background-position .3s ease-out;
            transition: opacity .6s ease-out, background-position .3s ease-out;
}
#welcome-system-name.show{
    opacity: 1;
    background-position: 0 0;
}

#loading-page{
    position: fixed; top:0; left: -100%; right: 0; z-index: 6000;
    opacity: 0;
    height:4px;
    background: rgba(115,115,115,1);
    box-shadow: 0 1px 1px 0 rgba(115,115,115,.5);
    -webkit-transition: opacity .5s ease-out, left 1s ease-out;
       -moz-transition: opacity .5s ease-out, left 1s ease-out;
            transition: opacity .5s ease-out, left 1s ease-out;
}
#loading-page.active{
    opacity: 1; left: 0;
}
#loading-page>.inner{
    width:100%; height: 4px; margin-left:-100%;
    background: #e6602d;
    -webkit-transition: margin-left 30s cubic-bezier(0, 0.8, 0, 1);
       -moz-transition: margin-left 30s cubic-bezier(0, 0.8, 0, 1);
            transition: margin-left 30s cubic-bezier(0, 0.8, 0, 1);
}
#loading-page>.inner-last{
    -webkit-transition: margin-left .3s linear;
       -moz-transition: margin-left .3s linear;
            transition: margin-left .3s linear;
}
#loading-page.active>.inner{
    margin-left:-20%;
}
#loading-page.active>.inner-last{
    margin-left:0;
}




.san-datepicker{
    position: absolute; z-index: 1000;
    display: none;
    width:260px;
    background-color:#fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:14px; line-height:1.42857143;
}
.san-datepicker-show{
    display: block;
}
.san-datepicker-inline{
    position: absolute;
    display: inline-block;
}
.san-datepicker-main{
    position: relative;
}
.san-datepicker-main .san-datepicker-head{
    position: relative;
    padding: 6px 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}
.san-datepicker-main .san-datepicker-head .san-datepicker-prev,
.san-datepicker-main .san-datepicker-head .san-datepicker-next{
    position: absolute; top:6px;
    display: block;
    color: #333;
}
.san-datepicker-main .san-datepicker-head .san-datepicker-prev{
    left:5px;
}
.san-datepicker-main .san-datepicker-head .san-datepicker-next{
    right:5px;
}
.san-datepicker-main .san-datepicker-head .san-datepicker-title{
    padding:0 20px;
    text-align: center;
    cursor: default;
}
.san-datepicker-main .san-datepicker-foot{
    position: relative;
    padding: 5px 5px;
    border-top: 1px solid #e6e6e6;
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}
.san-datepicker-main .san-datepicker-foot .san-datepicker-btn{
    float:right;
    display: block;
    padding: 2px 10px;
    background-color:#fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color:#333;
}
.san-datepicker-main .san-datepicker-foot .san-datepicker-btn-current{
    float:left;
}

.san-datepicker-foot{*zoom:1;}
.san-datepicker-foot:before,.san-datepicker-foot:after{content:"";display:table;}
.san-datepicker-foot:after{clear:both;}


.san-datepicker-main .san-datepicker-calendar{
    position: relative;
    padding: 0;
    background-color:#fff;
}
.san-datepicker-calendar table{
    table-layout:fixed;
    width:100%;margin:0;
    border-collapse:collapse;border-spacing:0;
}
.san-datepicker-calendar table thead th,
.san-datepicker-calendar table thead td,
.san-datepicker-calendar table tbody th,
.san-datepicker-calendar table tbody td,
.san-datepicker-calendar table tfoot th,
.san-datepicker-calendar table tfoot td{
    padding:0;
}
.san-datepicker-calendar table thead th{
    padding:5px 2px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden; white-space: nowrap;
    text-align: center;
    font-weight: normal;
    cursor: default;
}
.san-datepicker-calendar table tbody td{
    padding:2px;
    text-align: right;
    font-weight: normal;
}
.san-datepicker-calendar table .sdp-days span{
    display: block;
    padding: 3px 4px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: right;
    color:#333;
    cursor: pointer;
}
.san-datepicker-calendar table .sdp-days span:hover{
    background-color: #eee;
    border-color: #eee;
}
.san-datepicker-calendar table .sdp-weekend,
.san-datepicker-calendar table .sdp-weekend span{
    color:#0056a6;
}
.san-datepicker-calendar table .sdp-days-disabled span,
.san-datepicker-calendar table .sdp-days-disabled span:hover{
    color:#ccc;
    cursor: default;
}
.san-datepicker-calendar table .sdp-days-today span,
.san-datepicker-calendar table .sdp-days-today span:hover{
    background-color: #eee;
    border: 1px solid #eee;
}
.san-datepicker-calendar table .sdp-days-current span,
.san-datepicker-calendar table .sdp-days-current span:hover{
    background-color: #0056a6;
    border: 1px solid #0056a6;
    color:#fff;
}
.san-datepicker-calendar table .spd-weeks{
    font-size: 80%;
    color:#ccc;
    cursor: default;
}
